<h3>Contact Information</h3>

                    <table class="applicantInfo">
                        <tbody>
                            <tr>
                                <th>Address of Residence:</th>

                                <td>
                                    <span id="address"></span>
                                    <!--<span id="address2"></span>
                                                        <span id="address3"></span>
                                                        <span id="address4"></span>-->
                                    <span id="city"></span>
                                    <span id="state"></span>
                                    <span id="zip"></span>
                                    <span id="country"></span>
                                </td>
                            </tr>

                            <tr>
                                <th>E-mail Address:</th>

                                <td>
                                    <span id="email"></span>
                                </td>
                            </tr>

                            <tr>
                                <th>Telephone:</th>

                                <td>
                                    <span id="phone"></span>
                                </td>
                            </tr>

                            <tr>
                                <th>Fax:</th>

                                <td>
                                    <span id="fax"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>