<h3>USMLE Step 2 Clinical Knowledge (CK)</h3>

<div id="emptymessage_step2ck"></div>

<h3>Most Recent Application</h3>
<div>
    <table id="tbl" class="applicantInfo table">
        <tr>
            <th>Date Received:</th>
            <td>{{#formateDateFromData ReceiveDate}}{{/formateDateFromData}}</td>
        </tr>
        <tr>
            <th>Processing Status:</th>
            <td>{{ApplicationStatus}}</td>
        </tr>
        <tr>
            <th>Date Accepted:</th>
            <td>{{#formateDateFromData AcceptedDate}}{{/formateDateFromData}}</td>
        </tr>
        <tr>
            <th>Eligibility Period:</th>
            <td>{{#formateDateFromData EligibilityStart}} - {{EligibilityEnd}}{{/formateDateFromData}}</td>
        </tr>
        <tr>
            <th>Testing Region:</th>
            <td>{{TestingRegion}}</td>
        </tr>
        <tr>
            <th>Scheduling Permit Issued:</th>
            <td>{{#formateDateFromData PermitIssuedDate}}{{/formateDateFromData}}</td>
        </tr>
    </table>

    <p>
    To access scheduling permits, visit <a href="" onclick="var ref=window.open('https://secure2.ecfmg.org/emain.asp?app=iwa','_system','location=yes');return false;">IWA</a> on the ECFMG website. Please note that you must bring your scheduling permit to the test center on your exam date.
    </p>
</div>

<h3>Step 2 CK Exam History</h3>
<div id="examHistoryStep2CK">
    <table id="tblExam" class="applicantInfo table">
        <tr>
            <th>Date Exam Taken: </th>
            <td>{{#formateDateFromData ExamHistory.[0]}}{{/formateDateFromData}}</td>
        </tr>
    </table>
</div>

<h3>Most Recent Score Report</h3>
<div id="examScoreReportStep2CK">
    <table class="applicantInfo table">
        <tbody>
            <tr>
                <th>Exam Date:</th>
                <td>{{#formateDateFromData ScoreExamDate}}{{/formateDateFromData}}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Score Report Issued:</th>
                <td>{{#formateDateFromData ScoreReportDate}}{{/formateDateFromData}}</td>
            </tr>
        </tbody>
    </table>
    <p>
        To access score reports, visit <a href="" rel="external" class="applicantInfo" onclick="var ref=window.open('https://oasis2.ecfmg.org','_system','location=yes'); return false;">OASIS</a> on the ECFMG website. Score reports are available in OASIS for approximately 120 days.
    </p>
</div>