<configuration>

    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Handle PushState">
                    <match url="^[^\./]+[^\./api]+(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" negate="true" pattern="^/logoutcallback\.html$" ignoreCase="true" />
                        <add input="{REQUEST_URI}" negate="true" pattern="^/oauthcallback\.html$" ignoreCase="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="." />
                  </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>