<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#desktop">Backbone Demo</a>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <div class="row">
        <div id="viewTemplate">
            <div class="col-md-4">
                <div id="userInformation"></div>
            </div>
            <div class="col-md-4">
                <div id="contactInformation"></div>
            </div>
            <div class="col-md-4">
                <h2>Something else</h2>
                <p>More info here </p>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Shishir 2016</p>
    </footer>
</div>
