<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1">
        <h3>Backbone Demo</h3>
        <a href="#home">Home</a>
        <a href="#exams">Exams</a>
</nav>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Backbone Demo</a>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->

<div class="container main">
    <div class="row">
        <div id="viewTemplate">
            <div class="col-md-4">
                <div id="firstTemplate"></div>
            </div>
            <div class="col-md-4">
                <div id="secondTemplate"></div>
            </div>
            <div class="col-md-4">
                <div id="thirdTemplate"></div>
            </div>
        </div>
    </div>
</div>
