<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <a href="something"  data-toggle="showRightPush">Nothing Here</a>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <h3>Backbone Demo</h3>
    <a href="#mobilehome" data-toggle="showLeftPush">Home</a>
    <a href="step1" data-toggle="showLeftPush">Step1</a>
    <a href="step2" data-toggle="showLeftPush">Step2</a>
    <a href="step3" data-toggle="showLeftPush">Step3</a>
</nav>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="showRightPush" id="sidebarLeft">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand">
                <img style="max-width:165px; margin-top: -15px;" src="./Images/mobile-banner-myecfmg.png">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="showLeftPush">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <div id="firstTemplate">
    </div>
</div>
